In [1]:
## Tuples
x_tuple = ("USA", "France","Russia")
x_list = ["usa", "france", "russia" ]

In [3]:
print(type(x_tuple))
print(type(x_list))

<class 'tuple'>
<class 'list'>

In [5]:
len(x_tuple)

3

In [7]:
len(x_list)

3

## Tuple cannot be changed as it is immutable. 
## List can be changed, add and removed as it is mutable.

In [11]:
x_1 = tuple(x_list)
x_1
# Can make tuple into list

('usa', 'france', 'russia')

In [12]:
x_1[0]

'usa'

In [13]:
x_list[0] = "india"

In [15]:
x_list
# Updated the country name in the list

['india', 'france', 'russia']

In [16]:
# But that cannot be done for tuple, we cannot update it. you will get an error
#it comes as tuple cannot support item assignment.

In [18]:
for i in x_1 :
    print(i)

usa
france
russia

In [19]:
if "usa" in x_1:
    print("yes")

yes

In [20]:
def return_something():
    return("usa","dollar","Aaku")

#Assigning this to some variable
j = return_something

In [24]:
j = ("usa","dollar","Aaku")

In [25]:
(country, currency, name) = j

In [26]:
country

'usa'

In [27]:
name

'Aaku'

Trying to assign a function to another function
## Tuples are usually used for returning any value from the function.

In [31]:
def calculate_area(s):
    area = s+s
    perimeter = 4*s
    return( area, perimeter)

In [32]:
s = 4
area, perimeter = calculate_area(s)
print(area)
print(perimeter)

8
16

# Dictonaries
## Have a key and value to it. It is fast to access than list.
# dict = ({key: Value})

In [33]:
# try to understand the occurance.
# you cannot make list as a key. Try to find some examples regarding this to understand more.
# Dict is always in key value pair.

In [35]:
fruits_cost = {"apple": 4.6, "banana" :1.99, "Kiwi": 5.99}
# I have created the dictonary
type(fruits_cost)

dict

In [38]:
# Also an empty dict can be created and keys and value can be added later.

empty_dict = dict ()
print(empty_dict)
#if i want to add then
#empty_dict = ["aaku"] = '4515996'
#print(empty_dict)

{}

In [39]:
fruits_cost.keys()

dict_keys(['apple', 'banana', 'Kiwi'])

In [41]:
fruits_cost.values()

dict_values([4.6, 1.99, 5.99])

In [44]:
for i in fruits_cost:
    print(i)
#it only gives key  not the value but if i do this then it give both

apple
banana
Kiwi

In [46]:
#If you need key value pair, you need items.
print(fruits_cost)
for k,v in fruits_cost.items():
    print(k,v)

{'apple': 4.6, 'banana': 1.99, 'Kiwi': 5.99}
apple 4.6
banana 1.99
Kiwi 5.99

In [47]:
print(fruits_cost)
for k,v in fruits_cost.items():
    print(k,v *2)

{'apple': 4.6, 'banana': 1.99, 'Kiwi': 5.99}
apple 9.2
banana 3.98
Kiwi 11.98

In [48]:
# add new fruits.
fruits_cost ["oranges"] = 4.99
print(fruits_cost)

{'apple': 4.6, 'banana': 1.99, 'Kiwi': 5.99, 'oranges': 4.99}

In [49]:
# If you want to delete
del fruits_cost["Kiwi"]
print(fruits_cost)

{'apple': 4.6, 'banana': 1.99, 'oranges': 4.99}

In [53]:
# to delete, there is another way using Pop to delete the
#last item or element from the list.append

fruits_cost.popitem()

('banana', 1.99)

In [52]:
print(fruits_cost)

{'apple': 4.6, 'banana': 1.99}

In [54]:
if 'apple' in fruits_cost:
    print("Yes")

Yes

In [58]:
## sets
s1 = {"apples", "mangoes","apples","banana","baba",1,60,55,3.9}

In [59]:
#It deleted the extra and then follow lowest to higher number.
#and after that, the words follow alphabetical order.
s1

{1, 3.9, 55, 60, 'apples', 'baba', 'banana', 'mangoes'}

In [61]:
#create an empty set
s3 = set()

In [62]:
# Remove dublicates
list1 = ["a","a","b"]
remove_dup = list(set(list1))
remove_dup

['a', 'b']

In [63]:
s2 = {1,2,3,4}
s4 = {3,4,6,7}
s2.union(s4)

{1, 2, 3, 4, 6, 7}

In [64]:
s2.intersection(s4)

{3, 4}